gitignore
# Build folders
build/
**/build/
**/intermediates/
**/generated/
**/.cxx/
**/.externalNativeBuild/

# IDE and System
.idea/
.gradle/
*.iml
local.properties
.DS_Store

# APK and Logs
apks/
*.apk
*.log
*_timing.txt