# Build folders
build/
**/build/
**/intermediates/
**/generated/
**/.cxx/
**/.externalNativeBuild/

# OpenCV specific
opencv/.cxx/
opencv/build/
opencv/libcxx_helper/build/
opencv/libcxx_helper/.cxx/

# IDE and System
.idea/
.gradle/
*.iml
local.properties
.DS_Store

# APK and Logs
apks/
*.apk
*.log
*_timing.txt